<div>
	<div class="row">
		<div class="col-md-9">
			<div class="container-fluid ">
				<div class="vis-mis-container">
					<div class="vis-mis-head bg-primary">
						<p>Computer Science & Engineering Department</p>
					</div>	
					<h5><b>Vision</b></h5>
					<p style="text-align: justify">To shape the young Technocrats with highest quality of value based Technical & Ethical foundation to contribute towards building a strong mankind.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<%= render 'layouts/sideMenu' %>
		</div>
	</div>
</div>