<section>
	<div class="container">
		<div class="dept-bg">
			<%= image_tag( 'crl1.jpg',  :class => "img-fluid") %>
		</div>
		<div class="row">
			<div class="col-md-9 ">
				<div style="margin-top: 10px; color: #fff;">
					<h3 class="bg-primary">Departments</h3>
				</div>
				<div class="dept-list-div">
					<div class="row ">
					<div class="col-md-4 dept_list">
						<div class="dept_name">
							<p><a href="#">Computer Science & Engg.</a></p>
						</div>							
					</div>
					<div class="col-md-4 dept_list">
						<div class="dept_name">
							<p><a href="#">Mechanical Engineering</a></p>
						</div>
					</div>
					<div class="col-md-4 dept_list">
						<div class="dept_name">
							<p><a href="#">Science & Humanities</a></p>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div  class="col-md-3">
				<div class="dept-more-link">
					<div>
						<h4 class="bg-primary">More</h4>
					</div>
					<div>
						<p><a href="#">Library</a></p>
					</div>
					<div>
						<p><a href="#">Computer Lab</a></p>
					</div>
					<div>
						<p><a href="#">Workshop</a></p>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>