<section>
	<div class="container-fluid">
		<div class="dept-bg text-center">
			<%= image_tag( 'crl1.jpg',  :class => "img-fluid") %>
		</div>
		<div class="row">
			<div class="col-md-9 ">
				<div style="margin-top: 10px; color: #fff;">
					<h3 class="bg-primary">Departments</h3>
				</div>
				<div class="dept-list-div">
					<div class="row ">
					<div class="col-md-4 dept_list">
						<div class="dept_name">
							<a href="#" class= "btn btn-primary">Computer Science & Engg.</a>
						</div>							
					</div>
					<div class="col-md-4 dept_list">
						<div class="dept_name">
							<a href="#" class= "btn btn-primary">Mechanical Engineering</a>
						</div>
					</div>
					<div class="col-md-4 dept_list">
						<div class="dept_name">
							<a href="#" class= "btn btn-primary">Science & Humanities</a>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div  class="col-md-3">
				<div class="dept-more-link">
					<div>
						<h4 class="bg-primary">More</h4>
					</div>
					<div class="sidenav-link">
						<a href="#" class= "btn btn-primary">Library</a>
					</div>
					<div class="sidenav-link">
						<a href="#" class= "btn btn-primary">Computer Lab</a>
					</div>
					<div class="sidenav-link">
						<a href="#" class= "btn btn-primary">Workshop</a>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>