<section>
	<div class="container">
		<div>
			<%= image_tag( 'crl1.jpg',  :class => "img-fluid") %>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<h4>Departments</h4>
				<div class="row">
					<div class="col-sm-4 dept_list">
						<div class="dept_name">
							<p>Computer Science & Engg.</p>
						</div>							
					</div>
					<div class="col-sm-4 dept_list">
						<div class="dept_name">
							<p>Mechanical Engg.</p>
						</div>
					</div>
					<div class="col-sm-4 dept_list">
						<div class="dept_name">
							<p>Science & Humanities</p>
						</div>
					</div>
				</div>
			</div>
			<div  class="col-md-3">
				<div>
					<h4>More</h4>
				</div>
			</div>
		</div>
	</div>
</section>