<div>
	<div class="row">
		
		<div class="col-md-9">
			<div class="container ">
			<div class="vis-mis-container">
				<div class="vis-mis-head bg-primary">
					<p>About Institute</p>
				</div>	
				<p style="text-align: justify">Established in 2015, Dr. APJ Abdul Kalam University Institute of Technology, Jhabua is a constituent College of Rajeev Gandhi Prodyogiki Vishvidyalaya (RGPV), Bhopal (M.P.). The prime objective of UIT, Jhabua is to update and modernize the quality of professional education. Its aim is to employ innovative teaching methods which carry an emphasis on fast changing technological trends. This is to integrate classroom learning with actual work experience in the industry concerned or in a related professional field. The college aims to encourage students from the first year B.Tech itself, to identify suitable work areas and to execute projects of their own choice and interest. </p>
			</div>
			</div>
		</div>
		<div class="col-md-3">
			<%= render 'layouts/sideMenu' %>
		</div>
	</div>
</div>