<div>
	<div class="row">
		
		<div class="col-md-9">
			<div class="container-fluid ">
				<div class="vis-mis-container">
					<div class="vis-mis-head bg-primary">
						<p>Administration</p>
					</div>	
					<div class= "row administration">
						<div class="margin-10">
							<%= image_tag( 'principal.jpg',  :width =>200, :height=>200) %>
						</div>
						<div class="margin-10">
							<p class="principal-info">Dr. Kamlesh Singh Chandel </p>
							<p class="text-primary"><b>Principal</b></p>
							<p><span><b><i class="fas fa-phone"></i>Contact No. :</b> <span>07392244216</p>
							<p><span><b><i class="fas fa-envelope"></i>E-Mail:</b></span> drkschandel@gmail.com</p>
						</div>
					</div>	
					<div class= "row administration">
						<div class="margin-10">
							<%= image_tag( 'umanand.jpg',  :width =>200, :height=>200) %>
						</div>
						<div class="margin-10">
							<p class="principal-info">Prof. Umanand Kumar Singh </p>
							<p class="text-primary"><b>Dean Administration</b></p>
							<p><span><b><i class="fas fa-phone"></i>Contact No. :</b> <span>07392244216</p>
							<p><span><b><i class="fas fa-envelope"></i>E-Mail:</b></span> umanand.04@gmail.com</p>
						</div>
					</div>
					<div class= "row administration">
						<div class="margin-10">
							<%= image_tag( 'anurag.jpg',  :width =>200, :height=>200) %>
						</div>
						<div class="margin-10">
							<p class="principal-info">Prof. Anurag Kumar </p>
							<p class="text-primary"><b>Dean Academic</b></p>
							<p><span><b><i class="fas fa-phone"></i>Contact No. :</b> <span>07392244216</p>
							<p><span><b><i class="fas fa-envelope"></i>E-Mail:</b></span> anurag.uitrgpv@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<%= render 'layouts/sideMenu' %>
		</div>
	</div>
</div>