<div>
	<div class="row">
		
		<div class="col-md-9">
			<div class="container-fluid ">
			<div class="vis-mis-container">
				<div class="vis-mis-head bg-primary">
					<p>Committees</p>
				</div>	
				<h5><b>Anti Ragging Committee</b></h5>
				<div>
					<table class="table-bordered table-responsive committe-table">
					  <tbody>
					    <tr>
					      <th scope="row">Dean Administration</th>
					      <td>Chairman</td>
					      
					    </tr>
					    <tr>
					      <th scope="row">Dean Academics</th>
					      <td>Member</td>
					      
					    </tr>
					    <tr>
					      <th scope="row">Dean Student Welfare</th>
					      <td>Member</td>
					      
					    </tr>
					    <tr>
					      <th scope="row">HOD CSE</th>
					      <td>Member</td>
					      
					    </tr>
					    <tr>
					      <th scope="row">Prof. Aman Patidar</th>
					      <td>Member</td>
					      
					    </tr>
					  </tbody>
				</table>
				</div>
			</div>
			</div>
		</div>
		<div class="col-md-3">
			<%= render 'layouts/sideMenu' %>
		</div>
	</div>
</div>