<div class="container">
	<div class="well">
		<div class="devloper">
		<div class="col-md-6 offset-md-3 devloper-head bg-dark">
			<h4>Meet the developers</h4>
		</div>
		<div class="col-md-6 offset-md-3 developer-detail ">
			<p>Anurag Kumar</p>
			<p>Email : anurag.davv@gmail.com</p>
		</div>
		<div class="col-md-6 offset-md-3 ">
			<p>We welcome your comments & suggestions for further improvement. Please contact at</p>
			<p><a href="mailto:anurag.uitrgpv@gmail.com">anurag.uitrgpv@gmail.com</a></p>
		</div>
	</div>
	</div>
</div>

 