<div>
	<div class="row">
		
		<div class="col-md-9">
			<div class="container-fluid ">
			<div class="vis-mis-container">
				<div class="vis-mis-head bg-primary">
					<p>Principal Message</p>
				</div>	
					<div class= "row">
						<div class="col-md-2">
						<%= image_tag( 'principal.jpg',  :class => "img-fluid") %>
						</div>
							<div class="col-md-10">
							<p style="text-align: justify">UIT Jhabua is an institution with unconditional commitment and total dedication for the cause of development of technical education in the country. This institute aims at producing competent engineers who can contribute in bringing this nation to a greater height. 
							Now, as you are part of "UIT Jhabua family", I urge to make excellent career by being a keen learner during classroom teaching, laboratory instructions, industrial trainings and participating in sports, cultural and other extra-curricular activities of your interest at UIT Jhabua for all round development.  I hope that my dear students will extend their full support in maintaining discipline & decorum in the Institution and will refrain from mass absenteeism & ragging with your support, I am sure we will very soon convert this Institution in to a world class Academic Institution of excellence. </p>
						</div>
					</div>
			</div>
			</div>
		</div>
		<div class="col-md-3">
			<%= render 'layouts/sideMenu' %>
		</div>
	</div>
</div>