<section>
<div class="col-md-10 offset-md-1">
	<article class="item-page">


		<h1><span style="font-size: 14pt;"><strong><span style="color: #0000ff;">Under Graduate Programmes and Fee Structure</span></strong></span></h1>
		<p>&nbsp;</p>
		<p><span style="font-size: 12pt;">Institute offer following under graduate programmes -</span></p>
		
		<table class= "table"style="height: 200px;"  border="1">
			<tbody>
				<tr>
					<td width="auto">
						<p style="text-align: center;"><span style="font-size: 10pt;"><strong>Course</strong></span></p>
					</td>
					<td style="text-align: center;" width="auto">
						<p><span style="font-size: 10pt;"><strong>Branch</strong></span></p>
					</td>
					<td style="text-align: center;" width="auto">
						<p><span style="font-size: 10pt;"><strong>No. of Seats</strong></span></p>
					</td>
					<td style="text-align: center;" width="auto">
						<p><span style="font-size: 10pt;"><strong>Tution Fee Waiver Scheme Seats </strong></span></p>
					</td>
					
				</tr>
				
				
				<tr style="text-align: center;">
					<td width="auto">
						<p><span style="font-size: 10pt;">B. Tech.</span></p>
					</td>
					<td width="auto">
						<p><span style="font-size: 10pt;">Computer Science Engineering</span></p>
						
					</td>
					<td width="auto">
						<p><span style="font-size: 10pt;">60</span></p>
					</td>
					<td width="auto">
						<p><span style="font-size: 10pt;">3</span></p>
					</td>
				</tr>
				
				<tr style="text-align: center;">
					<td width="auto">
						<p><span style="font-size: 10pt;">B. Tech.</span></p>
					</td>
					<td width="auto">
						<p><span style="font-size: 10pt;">Mechanical Engineering</span></p>
						
					</td>
					<td width="auto">
						<p><span style="font-size: 10pt;">60</span></p>
					</td>
					<td width="auto">
						<p><span style="font-size: 10pt;">3</span></p>
					</td>
				</tr>
				
			</tbody>
		</table>
		<p><span style="font-size: 10pt;">&nbsp;</span></p>
		<p><span style="font-size: 10pt;">&nbsp;<strong> B.Tech. (Bachelor of Technology) Admissions</strong></span></p>
		<p style="text-align: justify;"><span style="font-size: 10pt;">From the year 2013, the State Government of Madhya Pradesh has decided to admit students to Engineering Colleges of Madhya Pradesh through Joint Entrance Exam (JEE Mains) conducted at All India level by CBSE. The admission procedure is conducted in three phases : Round 1, Round 2 and College Level Counselling.</span></p>
		<p style="text-align: justify;"><span style="font-size: 10pt;">The date of availability , last date of submission of form and other details are announced by the DTE in leading Newspapers of the State. For more information student may consult&nbsp;<span style="color: #0000ff; font-size: 12pt;"><a style="color: #0000ff;" href="https://dte.mponline.gov.in" rel="alternate">https://dte.mponline.gov.in</a></span></span></p>
		
				
		<p style="text-align: justify; padding-left: 30px;"><span style="font-size: 10pt;"><span style="text-decoration: underline;">BASIC ELIGIBILITY CRITERIA</span>: The candidates shall be considered for admission to First Year B.E. course who have passed the qualifying examination (i.e. Class 12th of 10+2 System) or equivalent examination with Physics, Chemistry &amp; Mathematics subjects.</span></p>
		<p style="text-align: justify; padding-left: 30px;"><span style="font-size: 10pt;">&nbsp;</span></p>
		
		<p><span style="color: #ff0000; font-size: 12pt;"><strong><span style="text-decoration: underline;">FEES STRUCTURE FOR 2019-20 ADMITTED</span></strong></span></p>
		
		<p><span style="font-size: 12pt;"><strong><span style="color: #ff0000;"><span style="color: #0000ff;">Note:</span>&nbsp;</span></strong> <strong><span style="color: #008000;">For 2019-20 admissions, UG Tuition Fees will be increased by Government of Madhya Pradesh and when finalized will be applicable </span></strong></span><strong><span style="color: #008000; font-size: 12pt;">to all the students taking admission.</span></strong>&nbsp;</p>
		<p>&nbsp;</p>
		<p><span style="font-size: 14pt;"><strong> FEE STRUCTURE (CS/ME)</strong></span></p>
		
		<p><a href="https://drive.google.com/file/d/1vqXnHUMci2bdS1OpuLeDhdzZ165QS2mY/view?usp=sharing" target="blank"> <b>B.Tech. 1st Year Fee</b></a></p>
			
		</article>

</div>
</section>