<section>
	<div class="col-md-10 offset-md-1">
		<h3><strong>Dr. APJ Abdul Kalam University Institute of Technology, Jhabua (UIT Jhabua) Admission 2019: </strong></h3>
		<p>Dr. APJ Abdul Kalam University Institute of Technology, Jhabua (UIT Jhabua) was established in 2015 by the Government of Madhya Pradesh. The college is affiliated to RGPV.</p>
		<ul>
			<li>A candidate seeking admission to B.Tech, must have passed the 10+2 examination from a recognized board with Physics &amp; Mathematics as main subjects along with either Chemistry, Biotechnology or Biology as the third subject with at least 45% marks in aggregate.</li>
			<li>Students have to qualify JEE Main in order to secure admission in B.Tech program.</li>
			<li>The counselling for admission is conducted by the Directorate of Technical Education, Government of MP through online off campus procedure.</li>

			<li>For more information student may consult&nbsp;<span style="color: #0000ff; font-size: 12pt;"><a style="color: #0000ff;" href="https://dte.mponline.gov.in" rel="alternate">https://dte.mponline.gov.in</a></span></span></li>
		</ul>

	</div>
	<style type="text/css">
		p,li{
			text-align: justify;
		}
	</style>
</section>