<div class="container">
<footer id="footer">
		<div class="row">
			<div class="col-sm-3 footer-col">
				<div class="text-center">
					<%= link_to image_tag( 'rgpvlogo.png', width: "100" , height: "100", :class => "img-fluid"), root_path%>
				</div>
				<div class="text-center">
					<h4>Dr. APJ Abdul Kalam UIT, Jhabua</h4>
				</div>
			</div>
			<div class="col-sm-3 footer-col">
				<div>
					<h5><u>Call Us</u></h5>
				</div>
				<div>
					<p>For technical Support</p>
					<p>09407554170</p>
				</div>
			</div>
			<div class="col-sm-3 footer-col">
				<div>
					<h5><u>Anti Ragging</u></h5>
				</div>
				<div>
					<p>For technical Support</p>
					<p>09407554170</p>
				</div>
			</div>
			<div class="col-sm-3 footer-col">
				<div>
					<h5><u>Contact Us</u></h5>
				</div>
				<div>
					<p>Dr. APJ Abdul Kalam UIT</p>
					<p>Govt. Polytechnic campus</p>
					<p>Kishanpuri, Jhabua</p>
					<p>457661</p>
				</div>
			</div>
		</div>
	</footer>
</div>