<div class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav text-center" >
          <li class="nav-item navbar-menu ">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown navbar-menu">
            <a class="nav-link">About </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="nav-link" tabindex="-1" href="#">About Institute</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Vision & Mission</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Principal Message</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Administration</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Committees</a></li>
              
               </ul>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link">Academics</a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="nav-link" tabindex="-1" href="#">Departments</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Academic Calender</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Examination</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Time Table</a></li>
              
               </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Admission</a>
          </li> 
          
          <li class="nav-item dropdown">
            <a class="nav-link" >Student Zone</a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="nav-link" tabindex="-1" href="#">Student Activities</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">Scholership</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">NSS</a></li>
              <li><a class="nav-link" tabindex="-1" href="#">UIT SC/ST Cell</a></li>
               </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Contact Us</a>
          </li> 
           
        </ul>
      </div> 
    </nav>
  </div>
</div>
 