<section style="margin: 10px">
<div>
	<div class="sidenav">
		<div class="sidenav-link">
			<%= link_to "About Institute", home_aboutUs_path, class: 'btn btn-primary'%>
		</div>
		<div class="sidenav-link">
			<%= link_to "Vision and Mission", home_visionAndMission_path, class: 'btn btn-primary'%>
		</div>
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">Principal Massage</a>
		</div>
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">Administration</a>
		</div>
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">Committees</a>
		</div>
	</div>
</div>
</section>
<style type="text/css">
	


</style>