<section>
	<div>
		<div class="sidenav bg-primary">
			<div>
				<a href="#">About</a>
			</div>
			<div>
			<a href="#">Vision and Mission</a>
			</div>
			<div>
				<a href="#">Principal Massage</a>
			</div>
			<div>
				<a href="#">Administration</a>
			</div>
			<div>
				<a href="#">Committees</a>
			</div>
		</div>

	</div>
</section>

