<section style="margin: 10px">
<div>
	<div class="sidenav">
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">About</a>
		</div>
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">Vision and Mission</a>
		</div>
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">Principal Massage</a>
		</div>
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">Administration</a>
		</div>
		<div class="sidenav-link">
			<a href="#" class="btn btn-primary" role="button">Committees</a>
		</div>
	</div>
</div>
</section>
<style type="text/css">
	


</style>